<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4kZOgx_VPVFLW3uzBWeMRmJS8-vWYRa4</string>
	<key>GCM_SENDER_ID</key>
	<string>229214527141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelGuideApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>travel-guide-with-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-guide-with-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229214527141:ios:96cd96761534c831b0374c</string>
</dict>
</plist>